/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.initial {
  -fx-control-inner-background: white;
}

.custom {
  -fx-control-inner-background: orange;
}
.anchor {
  -fx-background-image:url('file:/C:/Users/n1000/workspace/Newx/background1.jpg');
}

.custom1{
	-fx-font-weight: bold
	
	
}
.button {
  	-fx-text-fill: white;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   
}

.label {
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}